:root {
  --BG: #353640;
}




@media only screen and (max-width: 500px) {
  body {
    background-color: black;
    background: url("../assets/img/BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .middle-class {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 87%;
  }
  .main-profile-img {
    position: absolute;
    left: 32%;
    width: 37%;
    height: 20%;
  }
  .profile-name {
    position: absolute;
    top: 18%;
    width: 100%;
    text-align: center;
  }
  
  .about-me-btn {
    position: absolute;
    top: 27%;
    width: 100%;
    text-align: center;
    background-color: white;
    opacity: .5;
    color: black;
    border-style: none;
  }
  
  
  
  .about-me-div {
    display: hidden;
    visibility: hidden;
    
    background-color: #1D1D1F;
    opacity: .99;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 84%;
  }
  .about-me-img {
    position: absolute;
    left: 18.5%;
    width: 65%;
    height: 37%;
  }
  .about-me-note {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 56%;
    color: white;
  }
  .close-about-me {
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
    background-color: white;
    opacity: .5;
    color: black;
    border-style: none;
  }
  
  
  
  
  
  
  
  
  .footer-note {
    position: absolute;
    opacity: .5;
    top: 45%;
    width: 97%;
    text-align: center;
    color: white;
    font-size: 20px;
  }
  
  
  


  .pc-error {
    display: hidden;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
  .pc-error-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    text-align: center;
    color: white;
  }
  .pc-error-note {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    text-align: center;
    color: white;
  }
}

